* { margin: 0; padding: 0; }

a, li, ul { list-style: none; text-decoration: none; color: #ffffff; }

.content { max-width: 1300px; width: 100%; height: 100%; margin: auto; }

header { max-width: 1920px; width: 100%; height: 1000px; }

main { max-width: 1920px; width: 100%; height: auto; }

.banner { background-image: url(../images/Backgrounds/Head-background.png); max-width: 1920px; width: 100%; height: 1000px; }

.ban-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 80%; }

.logo { max-width: 86px; width: 100%; height: 23px; }

.nav-bar { width: 100%; height: 23px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 25px; }

.navigation { max-width: 620px; width: 100%; height: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.navigation > li > a { font-family: Montserrat; font-size: 12px; font-weight: 400; }

.navigation > li > a:hover { color: #eec888; }

.creative-welcome { max-width: 840px; width: 100%; height: 380px; text-align: center; }

#creatempl { color: #ffffff; font-size: 72px; font-family: Kaushanscript; font-weight: 400; }

#welmog { color: #ffffff; font-size: 150px; font-weight: 700; line-height: 140px; font-family: Montserrat; text-align: center; }

.learn-more { max-width: 160px; width: 100%; height: 40px; color: #ffffff; font-size: 14px; font-weight: 700; font-family: Montserrat; border: 3px solid #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.learn-more:hover { background-color: #ffffff; color: #eec888; -webkit-transition: 0.3s; transition: 0.3s; }

@font-face { font-family: Kauscriptshan; src: url(../fonts/KaushanScript-Regular.ttf); }
@font-face { font-family: Montserrat; src: url(../fonts/Montserrat-Bold.ttf); }
@font-face { font-family: Roboto-light; src: url(../fonts/Roboto-Light.ttf); }
@font-face { font-family: Roboto-regular; src: url(../fonts/Roboto-Regular.ttf); }
.signin { width: 100%; height: 250px; }

.sig-content { width: 100%; height: 100%; background-color: #ffffff; }

.for-input { color: #000000; font-family: Montserrat; font-size: 25px; }

.for-info { height: 230px; width: 100%; }

.get-post { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

#lblps { color: #000000; font-family: Kauscriptshan; font-size: 24px; font-weight: 400; }

#inptut { width: 190px; height: 25px; border: 1px solid #000000; font-family: Montserrat; font-size: 12px; padding-left: 2px; padding-right: 20px; }

#inptat { width: 190px; height: 25px; border: 1px solid #000000; font-family: Montserrat; font-size: 12px; padding-left: 2px; padding-right: 20px; }

#btnforps { width: 100px; height: 35px; font-family: Montserrat; font-size: 15px; font-weight: 400; border: none; background-color: #f9b62f; }

.facts { width: 100%; height: 270px; }

.facontent { background-color: #95e1d3; width: 100%; height: 270px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.infoaboutpeople { max-width: 1200px; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.in_ab_pe { max-width: 240px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.peopnum { color: #ffffff; font-family: Montserrat; font-size: 72px; font-weight: 700; }

.peoptext { color: #ffffff; font-family: Montserrat; font-size: 14px; font-weight: 400; }

.services { width: 100%; height: 660px; }

.sercontent { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#www { color: #3333333; font-family: Kaushanscript; font-size: 24px; font-weight: 400; }

#as { color: #333333; font-family: Montserrat; font-size: 30px; font-weight: 700; padding-top: 10px; }

.servicesblock { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; height: 240px; }

.topblock, .bottomblock { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; height: 80px; }

.top-botblock { max-width: 330px; width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; }

.rightitem { max-width: 290px; width: 100%; padding-left: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.imgitem { max-width: 32px; width: 100%; height: 100%; }

.imgitem > img { width: 32px; height: 32px; }

.ln { color: #333333; font-family: Montserrat; font-size: 14px; font-weight: 400; }

.m-t { color: #999999; font-family: Roboto-regular; font-size: 15px; font-weight: 400; line-height: 24px; }

.feauteru { width: 100%; height: 850px; background-image: url(../images/Backgrounds/2-layers.png); }

.feaucontent { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.other-device { max-width: 640px; width: 100%; height: 584px; }

#otd { width: 100%; height: 583px; }

.team { width: 100%; height: 950px; }

.teamcontent { width: 100%; height: 100%; background-color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.team-gallery { width: 100%; height: 550px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.team-photo { max-width: 380px; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tm-ph { max-width: 380px; width: 100%; height: 470px; }

#tm-ph1 { background-image: url(../images/team-gallery/Layer_16.png); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#tm-ph2 { background-image: url(../images/team-gallery/Layer_18.png); }

#tm-ph3 { background-image: url(../images/team-gallery/Layer_19.png); }

#tm-ph1:hover { background-image: url(../images/team-gallery/2-layers.png); -webkit-transition: 0.15s; transition: 0.15s; }

.tm-nm { color: #333333; font-family: Montserrat; font-size: 14px; font-weight: 400; }

.tm-wr { color: #999999; font-family: Roboto-light; font-size: 15px; font-weight: 400; line-height: 24px; }

.logos { width: 100%; height: 250px; background: #f8f8f8; }

.logo-content { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#lg-s { max-width: 1920px; width: 100%; max-height: 149px; height: 100%; }

.work { width: 100%; height: auto; }

.work-content { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.shw-works { width: 100%; height: 500px; background: url(../images/Backgrounds/WORK.png); background-size: 100% 100%; }

.works-slider { width: 100%; height: 270px; position: relative; }

.slide-block { width: 100%; height: 270px; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.slide-block-photo { max-width: 210px; width: 100%; height: 210px; }

.slide-block-photo img { width: 100%; height: 100%; }

.slide-block-text { max-width: 767px; width: 100%; height: 210px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sbt-main { color: #999999; font-family: Roboto-light; font-size: 24px; font-weight: 400; line-height: 36px; }

.sbt-sm { color: #333333; font-family: Kauscriptshan; font-size: 24px; font-weight: 400; }

/*# sourceMappingURL=style.css.map */