.work{
    width: 100%;
    height: auto;
}
.work-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.shw-works{
    width: 100%;
    height: 500px;
    background: url(../images/Backgrounds/WORK.png);
    background-size: 100% 100%;
}
.works-slider{
    width: 100%;
    height: 270px;
    position: relative;
}
.slide-block{
    width: 100%;
    height: 270px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
.slide-block-photo{
    max-width: 210px;
    width: 100%;
    height: 210px;
}
.slide-block-photo img{
    width: 100%;
    height: 100%;
}
.slide-block-text{
    max-width: 767px;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sbt-main{
    color: #999999;
    font-family: Roboto-light;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.sbt-sm{
    color: #333333;
    font-family: Kauscriptshan;
    font-size: 24px;
    font-weight: 400;
}
